<div class="container">

    <div class="question">
        How do I play the game?
    </div>
  
    <div class="answer">
        To play the game just sign up or if you are already signed up, log in.
    </div>
  
  
    <div class="question">
        How does the game work?
    </div>
  
    <div class="answer">
        Your goal is to complete the picture, so you have to click on the puzzle parts and switch them with other parts until the picture is completed.
    </div>
  
  
    <div class="question">
        Can I delete my account?
    </div>
  
    <div class="answer">
        No, as of right now, you can not delete your account, you can only logout and never log in again.
    </div>
  
  
    <div class="question">
        How do I sign up?
    </div>
  
    <div class="answer">
        Go to our sign up page and fill out the form, then click on sign up and you can log in.
    </div>
  
  
    <div class="question">
        Where can I see my highscore?
    </div>
  
    <div class="answer">
        To see your highscore just go to your profile page and click on "see all highscores".
    </div>
  
  
    <div class="question">
      
    </div>
  
    <div class="answer">
      
    </div>
  
  
  
  </div>
