<mat-list>
    <mat-divider></mat-divider>
    <mat-list-item><button mat-flat-button color="primary" (click)="sendHs()">Highscore senden</button></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><button mat-flat-button color="accent" (click)="retrieveHs()">Highscore abrufen</button></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><button mat-flat-button color="warn" (click)="logout()">Logout</button></mat-list-item>
    <mat-divider></mat-divider>
</mat-list>
  
