<mat-list>
    <mat-divider></mat-divider>
    <mat-list-item><button mat-flat-button color="primary" (click)="sendHs()">send highscore</button></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><button mat-flat-button color="accent" (click)="retrieveHs()">see all highscore</button></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><button mat-flat-button color="warn" (click)="logout()">Logout</button></mat-list-item>
    <mat-divider></mat-divider>
</mat-list>
  
